[Desktop Entry]
Exec=sh -c '/usr/bin/bluetoothctl connect F8:0F:F9:D6:26:DC'
Icon=dialog-scripts
Name=Connect iPhone
Terminal=true
DBusActivatable=false
Type=Application
