{
    "auto_center": false,
    "auto_complete_geo": true,
    "auto_rotate": false,
    "auto_rotate_when_navigating": true,
    "basemap_auto_light": "sunrise/sunset",
    "basemap_auto_mode": true,
    "basemap_fallback": "OpenTopoMap",
    "basemap_lang": "local",
    "basemap_light": "",
    "basemap_type": "",
    "basemap_vehicle": "",
    "center": [
        -4.689938572646469,
        50.55693656483357
    ],
    "compass_use": true,
    "devel_coordinate_center": false,
    "devel_show_z": false,
    "follow_me_transport_mode": "foot",
    "font_provider": "osmscout",
    "keep_alive": "navigating",
    "keep_alive_background": "always",
    "keys": {
        "FOURSQUARE_CLIENT": "",
        "FOURSQUARE_SECRET": "",
        "HERE_APIKEY": "",
        "MAPBOX_KEY": "",
        "MAPQUEST_KEY": "",
        "MAPTILER_KEY": "",
        "OPENCAGE_KEY": "",
        "OS_APIKEY": "",
        "STADIAMAPS_KEY": ""
    },
    "licenses": {
        "HERE_APIKEY": 0
    },
    "map_matching_when_idle": "car",
    "map_matching_when_navigating": true,
    "map_mode_auto_switch_time": 30,
    "map_mode_clean_on_start": false,
    "map_mode_clean_show_basemap": false,
    "map_mode_clean_show_center": false,
    "map_mode_clean_show_compass": false,
    "map_mode_clean_show_geocode": false,
    "map_mode_clean_show_menu_button": false,
    "map_mode_clean_show_meters": false,
    "map_mode_clean_show_navigate": false,
    "map_mode_clean_show_navigation_clear": false,
    "map_mode_clean_show_navigation_start_pause": false,
    "map_mode_clean_show_scale": false,
    "map_scale": 1.0,
    "map_scale_navigation_bicycle": 2.0,
    "map_scale_navigation_car": 2.0,
    "map_scale_navigation_foot": 1.0,
    "map_scale_navigation_transit": 1.0,
    "map_zoom_auto_time": 60.0,
    "map_zoom_auto_when_navigating": true,
    "map_zoom_auto_zero_speed_z": 10.2,
    "message_jolla_store_last_version": "",
    "navigation_horizontal_accuracy": 15.0,
    "poi_list_show_bookmarked": false,
    "profile": "offline",
    "profiles": {
        "HERE": {
            "basemap": "HERE",
            "geocoder": "here",
            "guide": "foursquare",
            "router": "here"
        },
        "mixed": {
            "basemap": "OpenFreeMap Bright",
            "geocoder": "photon",
            "guide": "foursquare",
            "router": "stadiamaps"
        },
        "offline": {
            "basemap": "OSM Scout",
            "geocoder": "osmscout",
            "guide": "osmscout",
            "router": "osmscout"
        },
        "online": {
            "basemap": "OpenFreeMap Bright",
            "geocoder": "photon",
            "guide": "foursquare",
            "router": "stadiamaps"
        }
    },
    "reroute": true,
    "route_page_show_destinations_help": true,
    "routers": {
        "osmscout": {
            "bicycle_type": "Hybrid",
            "language": "en",
            "max_hiking_difficulty": 1,
            "shorter": 0,
            "type": "auto",
            "use_bus": 0.5,
            "use_ferry": 0.5,
            "use_highways": 1.0,
            "use_hills": 0.5,
            "use_primary": 0.5,
            "use_rail": 0.5,
            "use_roads": 0.5,
            "use_tolls": 0.5,
            "use_trails": 0.0,
            "use_transfers": 0.5
        }
    },
    "share_address": true,
    "share_googlemaps": false,
    "share_osm": true,
    "show_narrative": true,
    "show_navigation_sign": true,
    "show_speed_limit": "always",
    "smooth_position_animation_when_navigating": true,
    "tilt_when_navigating": true,
    "traffic_reroute_time": 1200,
    "units": "british",
    "version": "2.0",
    "voice_gender": "female",
    "voice_navigation": true,
    "zoom": 14.0
}